@model List<NorthwindBasedWebApplication.Models.Dtos.SupplierDtos.ReadSupplierDto>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .table th, .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Adjust this value as needed */
        }

        /* Add margin-right based on screen size */
        @@media (min-width: 1200px) {
            .container {
                margin-right: 500px; /* Apply margin-right as per the requirement */
            }
        }
    </style>
</head>

<div class="container mt-4">
    <h4 class="pb-3">Shippers</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:50px">@item.Id</td>
                    <td>@item.CompanyName</td>
                    <td>@item.Phone</td>
                    <td style="width:200px">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm mb-1" style="margin-right:0.3rem;">Read</a>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm mb-1" style="margin-right:0.3rem;">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm ">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
