@model List<NorthwindBasedWebApplication.Models.Dtos.CustomerDtos.ReadCustomerDto>


<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .table th, .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Adjust this value as needed */
        }

        /* Add margin-right based on screen size */
        @@media (min-width: 1200px) {
            .container {

                margin-right: 600px; /* Apply margin-right as per the requirement */
            }
        }

        body {
            background-color: #121212;
            color: #ffffff;
        }

        table.dataTable {
            color: #ffffff;
            background-color: #333333;
        }

            table.dataTable thead {
                background-color: #444444;
            }

                table.dataTable thead th {
                    color: #ffffff;
                }

            table.dataTable tbody tr {
                background-color: #333333;
            }

                table.dataTable tbody tr:hover {
                    background-color: #555555;
                }

            table.dataTable tbody td {
                color: #ffffff;
            }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            color: #ffffff !important;
            background-color: #444444 !important;
            border: 1px solid #555555;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background-color: #555555 !important;
            }

        .dataTables_wrapper .dataTables_filter input {
            background-color: #444444;
            color: #ffffff;
            border: 1px solid #555555;
        }

    </style>
</head>

<div class="container mt-4">
    <h4 class="pb-3">Customers</h4>
    <table id="table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Id</th>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Contact Title</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>Postal Code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CustomerId</td>
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.Region</td>
                    <td>@item.PostalCode</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td>@item.Fax</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm mb-1" style="margin-right:0.3rem;">Read</a>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm mb-1" style="margin-right:0.3rem;">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm ">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>

    $("#table").DataTable();
</script>